<div class="col-6 mx-auto">
    <input class="form-control my-3" type="text" #searchBox (keyup)="search(searchBox.value)" placeholder="Rechercher un pokémon..">
    <div class="collection">
        <ul class="list-group mb-3">
            <li class="pokemon_name list-group-item" *ngFor="let pokemon of pokemons$ | async" (click)="goToDetail(pokemon)">{{ pokemon.name }}</li>
        </ul>
    </div>
</div>
