<div class="container">
    <h2>Profil de l'utilisateur</h2>
    <div *ngIf="userInfo">
      <form [ngClass]="{ 'readonly': !isEditable }">
        <p><strong>Nom :</strong> <input class="form-control" type="text" [(ngModel)]="userInfo.name" name="name" [readonly]="!isEditable"></p>
        <p><strong>Email :</strong> <input class="form-control" type="email" [(ngModel)]="userInfo.email" name="email" [readonly]="!isEditable"></p>
        <!-- Ajoutez d'autres champs d'informations de l'utilisateur ici -->
        <div *ngIf="isEditable">
          <button (click)="updateProfile()" class="btn btn-primary">Enregistrer</button>
          &nbsp;&nbsp;
          <button (click)="cancelUpdate()" class="btn btn-outline-primary">Annuler</button>
        </div>
        <div *ngIf="!isEditable">
          <button (click)="toggleEditMode()" class="btn btn-primary">Modifier</button>
          &nbsp;&nbsp;
          <button (click)="deleteProfile()" class="btn btn-danger">Supprimer</button>
        </div>
      </form>
    </div>
    <div *ngIf="!userInfo">
      <p>Aucune information sur l'utilisateur n'a été trouvée.</p>
    </div>
  </div>
  