.form-label{
    opacity: 80%;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control{
    outline: 0;
    border:none;
    border-bottom: 1px solid #5abfb2;
    border-radius: 0;
  }
  
  .form-control:focus {
    outline: 0;
    border:none;
    box-shadow: 0 4px 2px -2px gray;
    border-bottom: 1px solid #5abfb2;
  } 