 
<div class="row justify-content-center">
  <div class="col-7">
      <!-- "ngForm" est un template de référence. Cela indique que pokemonForm va contenir les informations du formulaire Angular, comme les contrôles et les valeurs du formulaire. -->
      <form *ngIf="pokemon" (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
        <!-- pokemon name -->
        <div class="mb-3">
          <label for="name" class="form-label">Nom</label>
          <input type="text" placeholder="Entrer un nom ..." class="form-control" id="name" required [(ngModel)]="pokemon.name" name="name" #name="ngModel">
          <div [hidden]="name.valid || name.pristine" >
            <span>Le nom du pokemon est requis</span>
          </div>
        </div>
  
        <!-- pokemon hp -->
        <div class="mb-3">
          <label for="hp" class="form-label">Point de vie</label>
          <input type="number" class="form-control" id="hp" required pattern="^[0-9]{1,3}$" [(ngModel)]="pokemon.hp" name="hp" #hp="ngModel">
          <div [hidden]="hp.valid || hp.pristine">
              <span class="text-danger">Les points de vie du pokémon sont compris entre 1 et 999.</span>
          </div>
        </div>
  
        <!-- pokemon cp -->
        <div class="mb-3">
          <label for="cp" class="form-label">Dégâts</label>
          <input type="number" class="form-control" id="cp" required pattern="^[0-9]{1,2}$" [(ngModel)]="pokemon.cp" name="cp" #cp="ngModel" >
          <div [hidden]="cp.valid || cp.pristine">
            <span class="text-danger">Les dégâts du pokémon sont compris entre 1 et 99.</span>
          </div>
        </div>
  
        <!-- pokemon types -->
        <div class="mb-3">
          <label>Types</label>
          <div *ngFor="let type of types">
            <div class="form-check">
              <input 
                class="form-check-input" 
                type="checkbox" 
                [value]="type" 
                [id]="type"
                [checked]="hasType(type)"
                (change)="selectType($event, type)"
              >
              <label for="{{type}}" class="form-check-label {{ type | pokemonTypeColor }}">
                {{ type }}
              </label>
            </div>
          </div>
        </div>
  
        <div class="d-flex justify-content-center my-3">
          <button type="submit" [disabled]="!pokemonForm.form.valid" class="btn btn-primary">{{ submitText }}</button>
        </div>
  
        
      </form>
      <h3 class="text-center" *ngIf="!pokemon">Aucun pokemon à editer...</h3>
  </div>
</div>
  