/* You can add global styles to this file, and also import other style files */
.text-bg-vol {
  color: #000 !important;
  background-color: #6497b1 !important;
}
.text-bg-insecte {
  color: #000 !important;
  background-color: #aa6f73 !important;
}
.text-bg-poison {
  color: #000 !important;
  background-color: #b967ff !important;
}
.text-bg-fee {
  color: #000 !important;
  background-color: #05ffa1 !important;
}
.text-bg-psy {
  color: #000 !important;
  background-color: #ff71ce !important;
}
.text-bg-combat {
  color: #000 !important;
  background-color: #8d5524 !important;
}

/* Mes modifications */

#logout_button:hover, #profile_button{
  cursor: pointer;
}

/* .btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
} */

.btn-add {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.btn-add-icon {
  font-weight: bold;
}


.btn-circle {
  width: 70px;
  height: 70px;
  padding: 6px 0px;
  border-radius: 35px;
  font-size: 20px;
  line-height: 1.42857;
}